.title {
    text-transform: uppercase;
    
    cursor: pointer;
    
    font-family: Georgia, sans-serif;
  font-size: 5em;
  letter-spacing: -2px;
  }
  
  .header {
    display: flex;
    flex-direction: column;
    align-items: center;
    
  }
  
  .divider {
    margin: 10px;
    width: 100%;
    background-color: grey;
  }